<div>
  <div>
    <div><%= link_to "New Project", new_project_path%></div>
    <div><%= link_to "New Floor Plan", new_floor_plan_path%></div>
  </div>
  <div><%= link_to "Tanteraka", root_path%></div>
  <div><%= link_to "Projects", projects_path%></div>
  <div><%= link_to "Floor Plan", floor_plans_path%></div>
  <div><%= link_to "Contact", pages_contact_path%></div>
  <div></div>
</div>
