<h1>Contact Us</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h3>Email Us</h3>
        <%= form_for @message, url: contact_pages_path do |f| %>
          <%= notice %>
          <%= @message.errors.full_messages.join(', ') %>

          <%= f.text_field :name, placeholder: 'name' %>
          <%= f.email_field :email, placeholder: 'email' %>
          <%= f.text_area :body, placeholder: 'body' %>
          <%= f.submit 'Send' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h3>Call Us</h3>
        <p><%= number_to_phone "801-819-5154" %></p>
      </div>
    </div>
  </div>
</div>
