<%= form_with(model: @floor_plan, local: true) do |f| %>

  <% if @floor_plan.errors.any? %>
    <% @floor_plan.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :information %>
    <%= f.text_area :info %>
  </div>
  <div>
    <%= f.label :main_image %>
    <%= f.file_field :main_img %>
  </div>
  <div>
    <div>
      <%= f.fields_for :floor_plan_images do |fp_img_form| %>
        <%= render 'floor_plan_image_fields', f: fp_img_form %>
      <% end %>
      <div>
        <%= link_to_add_association 'Add Image', f, :floor_plan_images %>
      </div>
    </div>
  </div>
  <div>
    <%= f.submit 'Save Floor Plan' %>
  </div>
<% end %>
