<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3><%= @floor_plan.title %></h3>
      <%= image_tag @floor_plan.main_img %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="container">
      <% @floor_plan.floor_plan_images.each do |fp| %>
        <div class="card">
          <%= image_tag fp.image %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <div class="jumbotron">

        <p>
          <%= markdown @floor_plan.info %>
        </p>
        <% if logged_in?(:admin) %>
          <p>
            <%= link_to "Edit This Project", edit_floor_plan_path(@floor_plan) %>
          </p>
          <p>
            <%= link_to "Delete This Project", @floor_plan, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
          </p>
        <%end%>
      </div>
    </div>
  </div>
</div>
