<%= form_with(model: @project, local: true) do |f| %>

  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :information %>
    <%= f.text_area :info, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_img, class: 'form-control' %>
  </div>
  <div>
    <div class="form-group">
      <%= f.fields_for :project_images do |project_img_form| %>
        <%= render 'project_image_fields', f: project_img_form %>
      <% end %>
      <div class="form-group">
        <%= link_to_add_association 'Add Image', f, :project_images, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'Save Project', class: 'btn btn-primary' %>
  </div>
<% end %>
