<%= form_with(model: @project, local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :information %>
    <%= f.text_field :info %>
  </div>
  <div>
    <%= f.label :main_image %>
    <%= f.file_field :main_img, style: 'display:none;' %>
  </div>
  <div>
    <%= f.fields_for :project_images do |project_img_form| %>
      <%= render 'project_image_fields', f: project_img_form %>
    <% end %>
    <div>
      <%#= link_to_add_association 'Add Image', f, :image %>
    </div>
  </div>
  <div>
    <%= f.submit 'Save Project' %>
  </div>
<% end %>
