<div>
  <p>
    <%= @project.title %>
  </p>
  <p>
    <%= @project.info %>
  </p>
  <p>
    <%= image_tag @project.main_img %>
  </p>
  <p>
    <%= image_tag @project.img %>
  </p>
  <span>
    <%= link_to "Edit", edit_project_path(@project) %>
    <%= link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
  </span>
</div>
